[data-theme="light"] {
  --background-color: black;
  --background-color-s: rgba(86 95 13 / 94%);
  --window-color: #ECEBE4;
  --background-image: url("images/whiteGears.jpg");
  --color: white;
  --component-color: #D9BCB6;
  --box-shadow-color: grey;
  --slider-gauge-color:#668f80;
}

[data-theme="dark"] {
  --background-color: rgb(110, 225, 232 0.5);
  --background-color-s: rgba(255, 192, 203, 0.7);
  --background-image: url("images/gears.jpg");
  --color: black;
  --component-color: #61988E;
  --box-shadow-color: black;
  --slider-gauge-color:#2d4b40;
}
html {
  background-color: var(--background-color);
  background-image: var(--background-image);
}
.App {
  /* text-align: center; */
  font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Masthead {
  display: flex;
  justify-content: space-around;
}

.bufferDiv {
  padding-top: 25px;
}

.logo {
  border-radius: 50%;
  width: 8%;
  height: 8%

}

.component {
  background-image: var(--background-image);
}

.body {
  border-radius: 5px;
  border:80%;
  background-color: var(--background-color);
  color: var(--color);
  margin: 9%;
  padding: 5%;
  border-radius: 12px;
}

.myIntro {
  font-size: x-large;
}

.carousel-inner img {
  margin: auto;
  width:40% !important;
  height:40% !important;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  font-size: small;
}

.carouselContainer {
  -ms-flex-item-align: center;
}

.d-block {
  border-radius: 10px;
  /* width:50% !important;
  height:50% !important; */
}

.artHeading {
  text-align: center !important;
}

.me {
  display: flex;
}

.myPhoto {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.LandingPage {
  background-image: url("images/whiteGears.jpg")
}

.navbar-nav {
  font-size: 1.5em !important;
}

.container {
  gap: 33px;
}

button {
  border-radius: 5px;
  background-color: var(--component-color);
  font-weight: bold;
  padding: 10px;
}

#icon {
  align-items: center;
  height: 80%;
  width: 80%;
  opacity: 1;
}

.bodys {
  border-radius: 5px;
  border:80%;
  background-color: var(--background-color-s);
  color: var(--color);
  margin: 9%;
  padding: 5%;
  border-radius: 12px;
  /* background-color: transparent; */
  /* opacity: 0.95; */
}

/* @media (max-width: 400) {
  tooltip.inner {
    placement: right;
  }
} */