[data-theme="light"] {
  --background-color: black;
  --background-color-s: rgba(86 95 13 / 94%);
  --button-color: #ECEBE4;
  --background-image: url("images/whiteGears.jpg");
  --color: white;
  --component-color: rgb(54, 51, 65);
  --box-shadow-color: grey;
  --slider-gauge-color:#668f80;
  --link-color: rgba(23, 12, 12, .9);
  /* --mobile-color: rgba(12, 15, 23); */
}

[data-theme="dark"] {
  --background-color: white;
  --background-color-s: rgba(255, 192, 203, 0.7);
  --button-color: black;
  --background-image: url("images/gears.jpg");
  --color: black;
  --component-color: white;
  --box-shadow-color: black;
  --slider-gauge-color:#2d4b40;
  --link-color: rgba(244, 242, 242, 0.839);
  /* --mobile-color: rgba(6, 58, 58); */
}
html {
  background-color: var(--background-color);
  background-image: var(--background-image);
}
.App {
  /* text-align: center; */
  font-family: 'sans-serif','Raleway', Georgia, 'Times New Roman'
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Masthead {
  display: flex;
  justify-content: space-around;
}

.link {
  color: var(--button-color);
}
.link:hover {
   color: red;
}

.bufferDiv {
  padding-top: 25px;
}

.logo {
  border-radius: 50%;
  width: 8%;
  height: 8%

}

.component {
  background-image: var(--background-image);
}

.body {
  border-radius: 5px;
  border:80%;
  background-color: var(--background-color);
  color: var(--color);
  margin: 9%;
  padding: 5%;
  border-radius: 12px;
}

.myIntro {
  font-size: x-large;
}

.caption {
  color: var(--button-color);
}

.carousel-inner img {
  margin: auto;
  width:40% !important;
  height:40% !important;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  font-size: small;
}

.carouselContainer {
  -ms-flex-item-align: center;
}

.d-block {
  border-radius: 10px;
}

.Heading {
  text-align: center !important;
}

.me {
  display: flex;
}

.myPhoto {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.LandingPage {
  background-image: url("images/whiteGears.jpg")
}

.navBar {
  background-color: var(--link-color)!important;
}

.navbar-nav {
  font-size: 1.5em !important;
  gap: 66px;
  /* color: black!important; */
}

@media (max-width: 414px) {
  .navbar-nav {
    gap: 0px;
    align-items: center;
  }
  .bufferDiv {
    padding-top: 48px;
  }
  .caption {
    font-size: large;
  }
  .navBar {
    background-color: black!important;
  }
  .link {
    color: white;
  }
  .link:hover {
     color: red;
  }

}

button {
  border-radius: 5px;
  background-color: var(--button-color);
  font-weight: bold;
  padding: 10px;
  color: var(--component-color)
}

#icon {
  align-items: center;
  height: 80%;
  width: 80%;
  opacity: 1;
}

.bodys {
  border-radius: 5px;
  border:80%;
  background-color: var(--background-color-s);
  color: var(--color);
  margin: 9%;
  padding: 5%;
  border-radius: 12px;
}